#movilApp {
  display: none;
}
#movilHeader {
  padding: 5px 0px;
}
.w100 {
  width: 100% !important;
}
body {
  font-family: 'GothamNarrow-Medium';
}
.dn {
  display: none;
}
.s13 {
  font-size: 13px !important;
}
.s20 {
  font-size: 20px !important;
}
.s25 {
  font-size: 25px !important;
}
.s50 {
  font-size: 50px !important;
}
.s40 {
  font-size: 40px !important;
}
.ln1 {
  line-height: 1 !important;
}
.ln8 {
  line-height: 0.8 !important;
}
.ls5 {
  letter-spacing: 5px !important;
}
.w80 {
  width: 80% !important;
}
#map {
  height: 450px;
}
.navigation a {
  margin-right: 15px;
  color: #111 !important;
}
.mainMenu {
  padding: 15px 0px;
}
#bannerMov {
  background: url("../images/banner_bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  min-height: 1024px;
}
#banner {
  background: url("../images/banner_bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  min-height: 1024px;
}
#banner .info1 {
  padding: 25px;
  background: #d40b81;
  width: 18%;
  min-height: 750px;
  font-size: 50px;
  line-height: 1;
  margin-left: 20px;
}
#banner .info1 .line {
  position: absolute;
  left: 4%;
}
#banner .info2 {
  width: 20%;
}
.main-rose {
  color: #d40b81;
}
.main-yellow {
  color: #ffc000;
}
.boldNarrow {
  font-family: 'GothamNarrow-Bold' !important;
}
.lightNarrow {
  font-family: 'GothamNarrow-Light' !important;
}
.narrowBook {
  font-family: 'GothamNarrow-Book' !important;
}
.narrowThin {
  font-family: 'GothamNarrow-Thin' !important;
}
.blackNarrow {
  font-family: 'GothamNarrow-Black' !important;
}
.s18 {
  font-size: 18px !important;
}
.s20 {
  font-size: 20px !important;
}
.s50 {
  font-size: 50px !important;
}
.s80 {
  font-size: 80px !important;
}
.lh5 {
  line-height: 0.85 !important;
}
.ls10 {
  letter-spacing: 10px !important;
}
.btn.custom {
  background: rgba(212,11,129,0.8);
  border-radius: 0px !important;
  color: #fff !important;
  letter-spacing: 3px;
  font-size: 13px;
  padding: 3px 10px;
}
.blueMain {
  color: #00c8ec !important;
}
.item1 {
  width: 45%;
  height: 325px;
  padding: 0px 40px 0px 0px;
}
.item1 h1 {
  line-height: 0.85;
}
.item1 p {
  font-size: 20px;
  font-weight: 600;
}
.item1 a {
  color: #000;
  letter-spacing: 3px;
  font-weight: normal;
}
.item2 {
  width: 30%;
}
#wedo {
  background: url("../images/wedoback.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 550px;
  width: 88.5%;
  position: relative;
}
#wedo .text {
  position: absolute;
  right: 44%;
  top: 33%;
}
#wedo h2 {
  letter-spacing: 5px;
  color: #000;
  line-height: 0.85;
}
#wedo p {
  line-height: 0.9;
  font-size: 20px;
}
.btn-2 {
  color: #fff !important;
  background: #00c8ec;
  padding: 5px 15px;
  font-size: 24px;
  border: 2px solid;
  letter-spacing: 6px;
  text-decoration: none !important;
}
.translate120 {
  -webkit-transform: translateX(120px);
          transform: translateX(120px);
}
.numbers {
  width: 20%;
  min-height: 350px;
  border: 1px solid;
}
.numbers .number {
  padding: 10px 0px;
}
.numbers .number h2 {
  font-size: 55px;
  letter-spacing: 5px;
}
.numbers .number p {
  font-size: 30px;
  line-height: 0.85;
}
.numbers .number .destacado {
  font-size: 15px;
}
.info-viaje {
  width: 75%;
  min-height: 525px;
  background: url("../images/bg_viajes.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.info-viaje .text-viaje {
  background: #00c8ec;
  width: 50%;
  padding: 80px 25px 25px 25px;
}
.info-viaje .text-viaje h2 {
  color: #fff;
  font-size: 50px;
  line-height: 0.6;
  letter-spacing: 10px;
}
.info-viaje .text-viaje p {
  line-height: 0.85;
  font-size: 20px;
}
.info-viaje .text-viaje p.medium {
  font-size: 16px;
}
.info-directora {
  background: url("../images/bgdirectora.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 90%;
  background-size: contain;
  min-height: 525px;
}
.info-directora h2 {
  line-height: 0.85;
  font-size: 50px;
  letter-spacing: 7px;
}
.text-directora {
  width: 55%;
  margin-top: 90px;
}
.text-directora .overlay-left {
  position: relative;
  left: -30px;
  color: #000;
}
#testimonios h1 {
  letter-spacing: 7px !important;
}
.nombre-testimonio {
  letter-spacing: 4px;
}
#testimonios blockquote {
  font-style: normal;
}
#testimonios .controls .item {
  cursor: pointer;
}
.input-group-text {
  padding: 0px 30px;
}
.custom-email {
  height: 50px;
}
.custom-email,
.input-group-text {
  border-radius: 0px;
  background: #fff;
  border: 2px solid;
}
.item-contacto img {
  padding: 10px 15px 6px 0px !important;
}
footer {
  background: #000;
  color: #fff;
}
.info1-mov {
  padding: 25px;
  background: #d40b81;
  width: 85%;
  min-height: 250px;
  font-size: 35px;
  line-height: 1;
  margin-left: 20px;
  color: #fff;
}
.blur {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(232,232,232,0.2);
}
#wedoMov {
  background: url("../images/wedoback.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 250px;
  width: 100%;
  position: inherit;
}
.descripcion-curso {
  position: relative;
}
.contenido-banner {
  position: absolute;
  width: 40%;
  top: 35%;
  left: -33%;
}
.overlay-left {
  position: relative;
  left: -30px;
}
.temario p {
  margin: 0px !important;
  line-height: 1 !important;
  text-align: right;
}
.temario-img {
  position: relative;
  left: 50px;
}
.ln6 {
  line-height: 0.6 !important;
}
.ln85 {
  line-height: 0.85 !important;
}
.texto-participar-2 {
  width: 50%;
  left: 40%;
  top: -135px;
}
.contenido1-header {
  background: url("../images/header.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 600px;
}
.texto-header .titulo {
  border-left: 1px solid;
  padding: 20px 5px;
}
.contenido-kit {
  padding: 15px;
  background: #f5f5f5;
}
.maridaje {
  background: url("../images/maridaje.png");
}
.cafe {
  background: url("../images/cafe.png");
}
.basico {
  background: url("../images/vinosonline.png");
}
.diplomado {
  background: url("../images/diplomadovino.png");
}
.curso-miniatura {
  width: 100%;
  min-height: 450px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.curso-miniatura:hover .mascara-curso {
  left: 0;
  opacity: 1;
}
.mascara-curso {
  background: rgba(46,49,49,0.65);
  position: absolute;
  height: 450px;
  width: 80%;
  color: #fff;
  padding: 20px;
  left: -100%;
  opacity: 0;
  -webkit-transition: 0.9s ease all;
  transition: 0.9s ease all;
}
.mascara-curso h1 {
  color: #fff;
}
.btn.btn-maridaje {
  background: #fe0949 !important;
}
.btn.btn-cafe {
  background: #00c8ec !important;
}
.btn.btn-basico {
  background: #c8d70e !important;
}
.btn.btn-diplomado {
  background: #c157ef !important;
}
.item-testimonio {
  -webkit-transition: 0.9s ease all;
  transition: 0.9s ease all;
}
.text-gif {
  background: #d40b81 !important;
  min-height: 145px !important;
}
.black {
  color: #000;
}
.gif {
  max-height: 195px !important;
}
.last-recomendations {
  background: #d40b81 !important;
}
